# Copy to config.env and adjust if needed.
DEFAULT_PROJECT=
IMAGE_MODEL=gem_pix_2
SERVER_API_KEY=
OPENAI_API_HOST=127.0.0.1
OPENAI_API_PORT=8001
WS_PORT=9227
HTTP_PORT=8100
MAX_CONCURRENT_REQUESTS=5
REQUEST_MIN_INTERVAL=3
POLL_INTERVAL=10
POLL_TIMEOUT=420
API_REQUEST_TIMEOUT=180
